body {
    background-color: #111;
}

h1 {
    color: #ddd;
}
.content-container {
    display: flex;
    height: 100%;
    width: 100%;
}
.event-container{
    width: 60%;
    padding:10px;
}
.event-form{
    margin-bottom: 10px;
    padding:5px;
}
.event-item{
    border-radius: 5px;
    background-color: lightslategrey;
    margin: 5px;
    padding: 5px;
}

.event-title{
    display: flex;
    justify-content: space-between;
}
.event-title h2{
    flex-grow: 2;
}

.delete-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 5px;
}

.form-control {
    margin-top: 5px;
    margin-left: 5px;
}

.btn {
    margin-top: 5px;
    margin-left: 5px;
}

.status-container{
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: 25%;
    flex-grow: 1;
    background-color: #8ab;
    font-size: 2em;
}